langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
langchain_huggingface
faiss-cpu 
beautifulsoup4
streamlit
langchain_groq
numpy>=1.25.0
sentence-transformers>=2.6.1
torch>=2.2.1
transformers>=4.41.1
wikipedia
arxiv
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchain-experimental
tabulate

